<%= form_with(model: book, local: true) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label class="label">タイトル</label>
    <div class="control">
      <%= f.text_field :title, class: "input" %>
    </div>
  </div>
  <div class="field mt-2">
    <label class="label">著者（複数著者はカンマ区切り）</label>
    <div class="control" style="position: relative;">
      <%= f.text_area :author_names, rows: 2, class: "input", id: "author-input", autocomplete: "off", value: book.authors.map(&:name).join(', ') %>
      <div id="author-suggestions"></div>
    </div>
  </div>
  <div class="field">
    <label class="label">出版社</label>
    <div class="control">
      <%= f.text_field :publisher, class: "input" %>
    </div>
  </div>
  <div class="field">
    <label class="label">出版年</label>
    <div class="control">
      <%= f.text_field :published_year, class: "input" %>
    </div>
  </div>
  <div class="field">
    <label class="label">ISBN</label>
    <div class="control">
      <%= f.text_field :isbn, class: "input" %>
    </div>
  </div>
  <div class="field is-grouped mt-4">
    <div class="control">
      <%= f.submit submit_label, class: "button is-success is-dark" %>
    </div>
    <div class="control">
      <%= link_to "戻る", cancel_path, class: "button is-ghost" %>
    </div>
  </div>
<% end %>
