<h1>図書一覧</h1>
<%= link_to '新しい本を登録', new_book_path %>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>ISBN</th>
      <th>出版年</th>
      <th>出版社</th>
      <th>著者</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.isbn %></td>
      <td><%= book.published_year %></td>
      <td><%= book.publisher %></td>
      <td><%= book.authors.map(&:name).join(', ') %></td>
      <td>
        <%= link_to '詳細', book_path(book) %> |
        <%= link_to '編集', edit_book_path(book) %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>